$container-lg: 1520px;
$grid-float-breakpoint: 971px;
$screen-xs-max: 970px;
$screen-lg: 1600px ;

@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "../../node_modules/font-awesome/scss/font-awesome.scss";

$i: !important;

/*COLORS*/
	$color-border-gray: #e5e5e5;
	$color-border-opengray: #e0e0e0;
	$color-text-gray: #959595;

	$color-red: #b70e0c;
	$color-red-hover: #9a0604;
	$color-dark-red: #9c0c0a;

	$color-black: #262424;
	$color-dar-black: #151515;
/*COLORS*/

/*FONTS*/
	$f-m-l: 'montserratultra_light';
	$f-dn-b: 'DINPro-Bold';
	$f-dn-l: 'DINPro-Light';
	$f-dn-r: 'DINPro-Regular';
	$f-dn-m: 'DINPro-Medium';

/*FONTS*/

$imagedir:'../images/'; // define the base path before the mixin

@mixin bgmixin($filename,$position:0 0,$repeat: no-repeat) {
    background: transparent url(#{$imagedir}#{$filename}) $repeat $position;
}

//  @include bgmixin('sprites.svg');


.content{
}

ul.client-list {
	margin-top: 20px;

	display: flex;

	&>li{
		padding:0;
		border:0;
		span{
			float: left;
			display: block;
			padding: 0 10px;
		}

		ul{
			display: block;
			float: left;
			width: 100%;
			margin: 0;
			li{
				width: 100%;
				float: left;
				display: block;
				&:nth-child(odd){
					background: rgba(128, 128, 128, 0.23);
				}
			}
		}
		
	}
}