doctype html
html(ng-app='app')
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Sipariş Takip Sistemi
		link(rel='stylesheet', href='assets/css/main.css')
		script(type='text/javascript', src='assets/js/angular.min.js')
		script(type='text/javascript', src='assets/js/controller.js')
	body
		.content(ng-controller='musteritakip')
			.container-fluid
				.row
					.col-sm-6.col-xs-12
						h1 Müşteri Ara
						form(ng-submit='searchUser(formdataSearch)')
							.form-group
								label(for='id_') Müşteri Adı:
								input.form-control(type='text', name='musteri_adi', ng-model='formdataSearch.musteri_adi')
							.form-group
								label(for='id_') Müşteri Eposta:
								input.form-control(type='text', name='musteri_adi', ng-model='formdataSearch.musteri_eposta')
							input.btn.btn-block.btn-info(type='submit', value='Ara')
					.col-sm-6.col-xs-12
						h1 Müşteri Ekle
						form(ng-submit='insertUser(formdataClient)')
							.form-group
								label(for='id_musteri_adi') Müşteri Adı:
								input#id_musteri_adi.form-control(type='text', data-ng-model='formdataClient.musteri_adi')
							.form-group
								label(for='id_musteri_soyadi')  Müşteri Soyadı:
								input#id_musteri_soyadi.form-control(type='text', data-ng-model='formdataClient.musteri_soyadi')
							.form-group
								label(for='id_musteri_adresi')  Müşteri Adres:
								input#id_musteri_adresi.form-control(type='text', data-ng-model='formdataClient.musteri_adresi')
							.form-group
								label(for='id_musteri_telefonu')  Müşteri Telefon:
								input#id_musteri_telefonu.form-control(type='text', data-ng-model='formdataClient.musteri_telefonu')
							.form-group
								label(for='id_musteri_eposta')  Müşteri Eposta:
								input.form-control(type='text', data-ng-model='formdataClient.musteri_eposta')
							input.btn.btn-block.btn-success(type='submit', value='Ekle')
					.col-xs-12
						h1 Müşteriler
						ul.list-group.client-list
							li.list-group-item(data-ng-repeat=' key in repeatKeys ')
								span Müşteri ID
								ul.list-group
									li.list-group-item(data-ng-repeat='item in shownClientList')
										span {{ item[key] }}
